local_5678_austin_h/personal/.trash/1771441416889_ECHOv4 - PostgreSQL_Q01W1Vyu.json
{
  "id": "Q01W1VyuTjJIiZCk",
  "name": "ECHOv4 - PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dealpath/process",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -896,
        64
      ],
      "name": "Webhook - MCP Trigger",
      "webhookId": "dealpath-process"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "austin.holland@clearwatersecurity.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        256
      ],
      "name": "Gmail Trigger - Deal Inputs",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "KcxcROH9oa3L7IUB",
          "name": "Gmail ECHO"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classify input type and extract content\nconst items = $input.all();\nconst results = [];\n\n// Helper: Normalize account name to slug format\nfunction normalizeToSlug(text) {\n  if (!text) return null;\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')  // Replace non-alphanumeric with dashes\n    .replace(/^-+|-+$/g, '')      // Trim leading/trailing dashes\n    .replace(/-+/g, '-');          // Collapse multiple dashes\n}\n\nfor (const item of items) {\n  // Check if input is from webhook (MCP) or Gmail\n  const isWebhook = item.json.body !== undefined;\n  \n  let content, subject, input_type, deal_slug, salesforce_opportunity_id, date, source_filename;\n  let opportunity_name, account_name, close_date, trigger_type;\n  \n  if (isWebhook) {\n    // MCP/Webhook input - convert camelCase to snake_case\n    const body = item.json.body;\n    content = body.content || '';\n    input_type = body.input_type || body.inputType || 'call_transcript';\n    opportunity_name = body.opportunity_name || body.opportunityName || null;\n    account_name = body.account_name || body.accountName || null;\n    close_date = body.close_date || body.closeDate || null;\n    trigger_type = body.trigger_type || body.triggerType || 'deal_intake';\n    salesforce_opportunity_id = body.salesforce_opportunity_id || body.salesforceOpportunityId || null;\n    date = body.date || new Date().toISOString().split('T')[0];\n    source_filename = body.source_filename || body.sourceFilename || 'mcp-input';\n    \n    // Slug generation logic:\n    // 1. Use provided slug if exists\n    // 2. Normalize account_name if provided\n    // 3. Fall back to date-based slug\n    if (body.deal_slug || body.dealSlug) {\n      deal_slug = body.deal_slug || body.dealSlug;\n    } else if (account_name) {\n      const accountSlug = normalizeToSlug(account_name);\n      deal_slug = `${accountSlug}-${date}`;\n    } else {\n      deal_slug = `deal-${date}`;\n    }\n    \n  } else {\n    // Gmail input\n    subject = item.json.subject || '';\n    const text = item.json.text || item.json.textPlain || '';\n    content = text;\n    \n    // Check for X-ECHO-Deal-Slug header first (most reliable)\n    const headers = item.json.headers || {};\n    const echoSlugHeader = headers['x-echo-deal-slug'] || headers['X-ECHO-Deal-Slug'] || headers['X-Echo-Deal-Slug'];\n    \n    if (echoSlugHeader) {\n      deal_slug = echoSlugHeader;\n    } else {\n      // Extract account name from subject line or generate from date\n      // Pattern: \"Account Name - Context\" or \"Re: Account Name\"\n      const subjectMatch = subject.match(/^(?:Re:|Fwd:)?\\s*([^-]+)/i);\n      if (subjectMatch) {\n        const extractedAccount = subjectMatch[1].trim();\n        account_name = extractedAccount;\n        deal_slug = `${normalizeToSlug(extractedAccount)}-${new Date().toISOString().split('T')[0]}`;\n      } else {\n        deal_slug = `deal-${new Date().toISOString().split('T')[0]}`;\n      }\n    }\n    \n    // Determine input type\n    input_type = 'email';\n    if (subject.toLowerCase().includes('transcript')) {\n      input_type = 'call_transcript';\n    } else if (subject.toLowerCase().includes('notes')) {\n      input_type = 'call_notes';\n    }\n    \n    salesforce_opportunity_id = null;\n    date = new Date().toISOString().split('T')[0];\n    source_filename = `email-${item.json.id || 'unknown'}`;\n    opportunity_name = null;\n    close_date = null;\n    trigger_type = 'email_trigger';\n  }\n  \n  results.push({\n    json: {\n      content: content,\n      subject: subject,\n      input_type: input_type,\n      deal_slug: deal_slug,\n      salesforce_opportunity_id: salesforce_opportunity_id,\n      date: date,\n      source_filename: source_filename,\n      opportunity_name: opportunity_name,\n      account_name: account_name,\n      close_date: close_date,\n      trigger_type: trigger_type\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        160
      ],
      "name": "Input Classifier"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM deals \nWHERE salesforce_opportunity_id = '{{ $json.salesforce_opportunity_id }}'\n   OR deal_slug = '{{ $json.deal_slug }}'\n   OR (account_name IS NOT NULL \n       AND account_name ILIKE '{{ $json.account_name }}%')\nORDER BY \n  CASE \n    WHEN deal_slug = '{{ $json.deal_slug }}' THEN 1\n    WHEN salesforce_opportunity_id = '{{ $json.salesforce_opportunity_id }}' THEN 2\n    ELSE 3\n  END,\n  updated_at DESC\nLIMIT 1",
        "options": {
          "queryBatching": "independently",
          "nodeVersion": 2.4
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -464,
        160
      ],
      "name": "Load Deal Memory",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ZMNqF3gUEXvNCjht",
          "name": "ECHO PostgreSQL"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get original webhook data - Input Classifier has already normalized to snake_case\nconst inputData = $node['Input Classifier'].json;\n\n// Check if Load Deal Memory found existing deal\nif (!items || items.length === 0 || !items[0].json || Object.keys(items[0].json).length === 0) {\n  // No existing deal - return input data for new deal creation\n  return [{ \n    json: { \n      _noDealsFound: true,\n      _contextSource: 'new_opportunity',\n      deal_slug: inputData.deal_slug,\n      opportunity_name: inputData.opportunity_name,\n      account_name: inputData.account_name,\n      close_date: inputData.close_date,\n      salesforce_opportunity_id: inputData.salesforce_opportunity_id,\n      trigger_type: inputData.trigger_type,\n      content: inputData.content || `New deal opportunity: ${inputData.opportunity_name || 'Unknown'} at ${inputData.account_name || 'Unknown'}. Close date: ${inputData.close_date || 'Not set'}. This is a new opportunity with minimal information.`,\n      input_type: inputData.input_type\n    } \n  }];\n}\n\n// Filter for valid deal items\nconst validItems = items.filter(item => item && item.json && item.json.deal_slug);\n\nif (validItems.length === 0) {\n  // No valid deals - return input data for new deal creation  \n  return [{ \n    json: { \n      _noDealsFound: true,\n      _contextSource: 'new_opportunity',\n      deal_slug: inputData.deal_slug,\n      opportunity_name: inputData.opportunity_name,\n      account_name: inputData.account_name,\n      close_date: inputData.close_date,\n      salesforce_opportunity_id: inputData.salesforce_opportunity_id,\n      trigger_type: inputData.trigger_type,\n      content: inputData.content || `New deal opportunity: ${inputData.opportunity_name || 'Unknown'} at ${inputData.account_name || 'Unknown'}. Close date: ${inputData.close_date || 'Not set'}. This is a new opportunity with minimal information.`,\n      input_type: inputData.input_type\n    } \n  }];\n}\n\n// Existing deal found - add context marker and input data\nreturn validItems.map(item => ({\n  json: {\n    ...item.json,\n    _contextSource: 'existing_deal',\n    content: inputData.content || `New deal opportunity: ${inputData.opportunity_name || 'Unknown'} at ${inputData.account_name || 'Unknown'}. Close date: ${inputData.close_date || 'Not set'}. This is a new opportunity with minimal information.`,\n    input_type: inputData.input_type\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        32
      ],
      "name": "Validate Deal Memory",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert sales analyst using the P2V2C2 methodology to assess deal health.\n\nYour task: Analyze the provided information and score the deal across 6 critical dimensions.\n\nFor NEW DEALS (when content is empty or minimal):\n- Acknowledge this is a new opportunity with limited information\n- Score all dimensions as \"unknown\" or \"low\" as appropriate\n- Note that scores will improve as more information becomes available\n- Focus on what IS known (opportunity name, account, close date)\n\nFor EXISTING DEALS (with content):\n- Analyze the content thoroughly\n- Provide evidence-based scoring\n- Reference specific details from the conversation/notes\n\nOutput Format: JSON with p2v2c2_scores object containing pain, power, vision, value, change, control (each with score 0-10 and evidence)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        80
      ],
      "name": "Assessment Engine (Agent 1)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        304
      ],
      "name": "Gemini 2.0 Flash (Assessment)",
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "uGJhc7GKkYJUOGwm",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "={\n  \"deal_slug\": \"partnership-healthplan\",\n  \"input_type\": \"call_transcript\",\n  \"date\": \"2025-01-15\",\n  \"participants\": [\"Austin Holland\", \"Client Contact\"],\n  \"state\": {\n    \"opportunity_name\": \"Partnership HealthPlan - Add-on\",\n    \"account_name\": \"Partnership HealthPlan\",\n    \"cas_current\": \"2B: Qualify - Set expectations\",\n    \"cas_next\": \"3A: Prove - Co-create approach\",\n    \"cas_confidence\": \"high\",\n    \"p2v2c2\": {\n      \"pain\": 3,\n      \"power\": 3,\n      \"vision\": 2,\n      \"value\": 2,\n      \"change\": 3,\n      \"control\": 2,\n      \"total\": 15\n    },\n    \"tcv_model\": {\n      \"base_tcv\": 50000,\n      \"expansion_tcv\": 25000,\n      \"renewal_tcv\": 0\n    }\n  },\n  \"diagnostics\": {\n    \"deal_health\": {\n      \"top_3_strengths\": [\"Strong executive sponsor identified\", \"Clear pain with urgency\", \"Budget allocated\"],\n      \"top_3_risks\": [\"No technical validation yet\", \"Competing priorities\", \"Timeline compressed\"],\n      \"unknowns_blocking_progress\": [\"Final decision maker not confirmed\", \"Legal review timeline\"]\n    },\n    \"delta_summary\": \"Progressed from discovery to qualification. Executive sponsor engaged and budget confirmed.\"\n  },\n  \"evidence\": {\n    \"pain\": \"Client stated: 'We failed our SOC 2 audit and need to remediate before Q2 renewal'\",\n    \"power\": \"Met with VP of IT (budget holder) and CISO (executive sponsor)\",\n    \"vision\": \"Client wants to achieve SOC 2 compliance and improve security posture\",\n    \"value\": \"Estimated $200K in avoided audit costs and faster compliance timeline\",\n    \"change\": \"Client committed to starting project in Q1 with dedicated resources\",\n    \"control\": \"Next steps agreed: technical validation call scheduled for next week\"\n  },\n  \"highlights\": [\n    \"Executive sponsor highly engaged and championing internally\",\n    \"Clear business case with quantified ROI\",\n    \"Competitive displacement opportunity identified\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ],
      "name": "Structured Output Parser (Assessment)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "=You are the Artifact Engine for Deal Path V2.\n\nYour task is to generate ALL required outputs to progress the deal from current CAS to 5VO.\n\n# ASSESSMENT CONTEXT\n\n{{ JSON.stringify($('Assessment Engine (Agent 1)').item.json, null, 2) }}\n\n# CAS-TO-ARTIFACT MAPPING\n\nGenerate artifacts based on current CAS:\n\n**CAS 1A/1B (Discovery):**\n- Call summary\n- Internal message\n\n**CAS 2A/2B (Qualify):**\n- Call summary\n- Salesforce DAP block\n- Salesforce P2V2C2 block\n- Client follow-up email\n- Internal scoping message\n\n**CAS 3A/3B (Prove):**\n- All CAS 2 artifacts +\n- Approach document prep\n- Validation meeting prep\n\n**CAS 4A/4B (Negotiate):**\n- MSA/SOW review\n- Redline analysis\n\n**CAS 5A/5B (Close):**\n- Contract review\n- Kickoff prep\n\n# OUTPUT FORMATTING RULES\n\n## Client Follow-Up Email\n- Address client participants only\n- 5-7 paragraphs, 150-200 words\n- Structure: Greeting → Appreciation → \"Next steps:\" → Bullets → Closing\n- Professional, specific, consultative tone\n- NO random bolding\n\n## Salesforce DAP Block\n- Timeline with dates and statuses [COMPLETED], [IN PROGRESS]>>, [PENDING]\n- Current State: ORGANIZATION / ACTIVITIES / TECHNOLOGY\n- Future State: ORGANIZATION / ACTIVITIES / TECHNOLOGY\n- Risks (max 200 chars)\n- Next Step (max 100 chars)\n\n## Salesforce P2V2C2 Block\n- Pain (X/5): Evidence\n- Power (X/5): Evidence\n- Vision (X/5): Evidence\n- Value (X/5): Evidence\n- Change (X/5): Evidence\n- Control (X/5): Evidence\n\n## Internal Message\n- Actionable request to specific team member\n- Format: \"Hey [Name], had a [type] call with [Client]. [Summary]. Can you help with [specific request]?\"\n- Include all technical specs needed\n\n# OUTPUT STRUCTURE\n\nReturn JSON:\n\n{\n  \"artifacts\": {\n    \"salesforce_block_1_dap\": \"Full DAP timeline + current/future state + risks + next step\",\n    \"salesforce_pain_description\": \"Pain evidence from assessment\",\n    \"salesforce_power_description\": \"Power evidence\",\n    \"salesforce_vision_description\": \"Vision evidence\",\n    \"salesforce_value_description\": \"Value evidence\",\n    \"salesforce_change_description\": \"Change evidence\",\n    \"salesforce_control_description\": \"Control evidence\",\n    \"client_follow_up_email\": \"Full email body (no subject)\",\n    \"exec_recap_forwardable\": \"Executive summary\",\n    \"internal_message_pricing\": \"Internal team message\",\n    \"meeting_prep\": \"Next meeting prep materials\",\n    \"assumptions\": \"Key assumptions made\",\n    \"exclusions\": \"What's explicitly out of scope\"\n  },\n  \"plan\": {\n    \"action_plan\": [\n      {\"date\": \"YYYY-MM-DD\", \"owner\": \"Name\", \"action\": \"Description\", \"status\": \"pending|in_progress|done\"}\n    ],\n    \"internal_asks\": [\n      \"Ask 1 (who needs to do what)\",\n      \"Ask 2\"\n    ],\n    \"win_plays\": [\n      \"Play 1: Strategy to advance deal\",\n      \"Play 2\"\n    ]\n  },\n  \"orchestration\": {\n    \"artifacts_generated\": [\"list of artifact keys created\"],\n    \"artifacts_skipped\": [\"list of artifacts not needed for this CAS\"]\n  }\n}\n\nReturn ONLY the JSON object, no additional text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        64
      ],
      "name": "Artifact Engine (Agent 2)",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        288
      ],
      "name": "Gemini 2.0 Flash (Artifact)",
      "credentials": {
        "googlePalmApi": {
          "id": "uGJhc7GKkYJUOGwm",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "={{ {} }}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        288
      ],
      "name": "Structured Output Parser (Artifact)"
    },
    {
      "parameters": {
        "jsCode": "// Merge Assessment + Artifacts for PostgreSQL\nconst assessment = $('Assessment Engine (Agent 1)').item.json;\nconst artifacts = $('Artifact Engine (Agent 2)').item.json;\nconst input = $('Input Classifier').item.json;\nconst dealContext = $('Merge Deal Context').item.json;\n\nif (!assessment || !artifacts || !input) {\n  throw new Error('Missing required data from previous nodes');\n}\n\n// Extract stage from CAS\nconst stage = assessment.state?.cas_current?.split(':')[0]?.trim() || '1A';\n\n// Build deal record\nconst deal = {\n  deal_slug: input.deal_slug,\n  salesforce_opportunity_id: assessment.salesforce_opportunity_id ||\n                              dealContext?.salesforce_opportunity_id ||\n                              input.salesforce_opportunity_id || null,\n  outputs_version: 'v2',\n\n  // State\n  opportunity_name: assessment.state?.opportunity_name || '',\n  account_name: assessment.state?.account_name || '',\n  stage: stage,\n  cas_current: assessment.state?.cas_current || '',\n  cas_next: assessment.state?.cas_next || '',\n  cas_confidence: assessment.state?.cas_confidence || 'low',\n  close_date: assessment.state?.close_date || null,\n  amount: assessment.state?.amount || 0,\n\n  // TCV\n  base_tcv: assessment.state?.tcv_model?.base_tcv || 0,\n  expansion_tcv: assessment.state?.tcv_model?.expansion_tcv || 0,\n  renewal_tcv: assessment.state?.tcv_model?.renewal_tcv || 0,\n\n  // P2V2C2\n  pain_score: assessment.state?.p2v2c2?.pain || 0,\n  power_score: assessment.state?.p2v2c2?.power || 0,\n  vision_score: assessment.state?.p2v2c2?.vision || 0,\n  value_score: assessment.state?.p2v2c2?.value || 0,\n  change_score: assessment.state?.p2v2c2?.change || 0,\n  control_score: assessment.state?.p2v2c2?.control || 0,\n\n  // Diagnostics\n  delta_summary: assessment.diagnostics?.delta_summary || '',\n  top_3_strengths: JSON.stringify(assessment.diagnostics?.deal_health?.top_3_strengths || []),\n  top_3_risks: JSON.stringify(assessment.diagnostics?.deal_health?.top_3_risks || []),\n  unknowns_blocking_progress: JSON.stringify(assessment.diagnostics?.deal_health?.unknowns_blocking_progress || [])\n};\n\n// Build P2V2C2 evidence record\nconst evidence = {\n  pain_score: assessment.state?.p2v2c2?.pain || 0,\n  pain_evidence: artifacts.artifacts?.salesforce_pain_description || assessment.evidence?.pain || '',\n  power_score: assessment.state?.p2v2c2?.power || 0,\n  power_evidence: artifacts.artifacts?.salesforce_power_description || assessment.evidence?.power || '',\n  vision_score: assessment.state?.p2v2c2?.vision || 0,\n  vision_evidence: artifacts.artifacts?.salesforce_vision_description || assessment.evidence?.vision || '',\n  value_score: assessment.state?.p2v2c2?.value || 0,\n  value_evidence: artifacts.artifacts?.salesforce_value_description || assessment.evidence?.value || '',\n  change_score: assessment.state?.p2v2c2?.change || 0,\n  change_evidence: artifacts.artifacts?.salesforce_change_description || assessment.evidence?.change || '',\n  control_score: assessment.state?.p2v2c2?.control || 0,\n  control_evidence: artifacts.artifacts?.salesforce_control_description || assessment.evidence?.control || '',\n  p2v2c2_total: assessment.state?.p2v2c2?.total || 0\n};\n\n// Build artifacts record\nconst artifactsRecord = {\n  salesforce_block_1_dap: artifacts.artifacts?.salesforce_block_1_dap || '',\n  salesforce_pain_description: evidence.pain_evidence,\n  salesforce_power_description: evidence.power_evidence,\n  salesforce_vision_description: evidence.vision_evidence,\n  salesforce_value_description: evidence.value_evidence,\n  salesforce_change_description: evidence.change_evidence,\n  salesforce_control_description: evidence.control_evidence,\n  client_follow_up_email: artifacts.artifacts?.client_follow_up_email || '',\n  exec_recap_forwardable: artifacts.artifacts?.exec_recap_forwardable || '',\n  internal_message_pricing: artifacts.artifacts?.internal_message_pricing || '',\n  meeting_prep: artifacts.artifacts?.meeting_prep || '',\n  assumptions: artifacts.artifacts?.assumptions || '',\n  exclusions: artifacts.artifacts?.exclusions || '',\n  approved: false\n};\n\n// Build history entry\nconst historyEntry = {\n  event_type: input.input_type,\n  event_source: input.source,\n  event_date: input.date,\n  summary: `Processed ${input.input_type} - CAS: ${assessment.state?.cas_current || 'N/A'}`,\n  link_or_ref: input.source_filename || '',\n  raw_content: input.content.substring(0, 5000),\n  cas_at_time: assessment.state?.cas_current,\n  p2v2c2_total_at_time: assessment.state?.p2v2c2?.total || 0\n};\n\n// Build action plans\nconst actionPlans = (artifacts.plan?.action_plan || []).map(action => ({\n  action_date: action.date,\n  owner: action.owner,\n  action_description: action.action,\n  status: action.status || 'pending'\n}));\n\nreturn [{\n  json: {\n    deal,\n    evidence,\n    artifacts: artifactsRecord,\n    history: historyEntry,\n    actionPlans,\n    _contextSource: dealContext?._contextSource || 'unknown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        64
      ],
      "name": "Format for PostgreSQL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-new-opp-id",
              "leftValue": "={{ $('Merge Deal Context').item.json._contextSource }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": "new_opportunity"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        64
      ],
      "name": "Check if New Deal"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "deals",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deal_slug": "={{ $json.deal.deal_slug }}",
            "salesforce_opportunity_id": "={{ $json.deal.salesforce_opportunity_id }}",
            "outputs_version": "v2",
            "opportunity_name": "={{ $json.deal.opportunity_name }}",
            "account_name": "={{ $json.deal.account_name }}",
            "stage": "={{ $json.deal.stage }}",
            "cas_current": "={{ $json.deal.cas_current }}",
            "cas_next": "={{ $json.deal.cas_next }}",
            "cas_confidence": "={{ $json.deal.cas_confidence }}",
            "close_date": "={{ $json.deal.close_date }}",
            "amount": "={{ $json.deal.amount }}",
            "base_tcv": "={{ $json.deal.base_tcv }}",
            "expansion_tcv": "={{ $json.deal.expansion_tcv }}",
            "renewal_tcv": "={{ $json.deal.renewal_tcv }}",
            "pain_score": "={{ $json.deal.pain_score }}",
            "power_score": "={{ $json.deal.power_score }}",
            "vision_score": "={{ $json.deal.vision_score }}",
            "value_score": "={{ $json.deal.value_score }}",
            "change_score": "={{ $json.deal.change_score }}",
            "control_score": "={{ $json.deal.control_score }}",
            "delta_summary": "={{ $json.deal.delta_summary }}",
            "top_3_strengths": "={{ $json.deal.top_3_strengths }}",
            "top_3_risks": "={{ $json.deal.top_3_risks }}",
            "unknowns_blocking_progress": "={{ $json.deal.unknowns_blocking_progress }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        960,
        -32
      ],
      "name": "Insert New Deal",
      "credentials": {
        "postgres": {
          "id": "ZMNqF3gUEXvNCjht",
          "name": "ECHO PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE deals SET\n    salesforce_opportunity_id = {{ $json.deal.salesforce_opportunity_id ? \"'\" + $json.deal.salesforce_opportunity_id + \"'\" : 'NULL' }},\n    outputs_version = '{{ $json.deal.outputs_version }}',\n    opportunity_name = {{ $json.deal.opportunity_name ? \"'\" + $json.deal.opportunity_name + \"'\" : 'NULL' }},\n    account_name = {{ $json.deal.account_name ? \"'\" + $json.deal.account_name + \"'\" : 'NULL' }},\n    stage = '{{ $json.deal.stage }}',\n    cas_current = '{{ $json.deal.cas_current }}',\n    cas_next = '{{ $json.deal.cas_next }}',\n    cas_confidence = '{{ $json.deal.cas_confidence }}',\n    close_date = {{ $json.deal.close_date ? \"'\" + $json.deal.close_date + \"'\" : 'NULL' }},\n    updated_at = CURRENT_TIMESTAMP\nWHERE deal_slug = '{{ $json.deal.deal_slug }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        960,
        160
      ],
      "name": "Update Existing Deal",
      "credentials": {
        "postgres": {
          "id": "ZMNqF3gUEXvNCjht",
          "name": "ECHO PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO artifacts (\n  deal_id, \n  salesforce_block_1_dap,\n  salesforce_pain_description,\n  salesforce_power_description,\n  salesforce_vision_description,\n  salesforce_value_description,\n  salesforce_change_description,\n  salesforce_control_description,\n  client_follow_up_email,\n  exec_recap_forwardable,\n  internal_message_pricing,\n  meeting_prep,\n  assumptions,\n  exclusions,\n  approved\n) VALUES (\n  (SELECT id FROM deals WHERE deal_slug = '{{ $json.deal.deal_slug }}'),\n  NULLIF('{{ $json.artifacts.salesforce_block_1_dap }}', ''),\n  NULLIF('{{ $json.artifacts.salesforce_pain_description }}', ''),\n  NULLIF('{{ $json.artifacts.salesforce_power_description }}', ''),\n  NULLIF('{{ $json.artifacts.salesforce_vision_description }}', ''),\n  NULLIF('{{ $json.artifacts.salesforce_value_description }}', ''),\n  NULLIF('{{ $json.artifacts.salesforce_change_description }}', ''),\n  NULLIF('{{ $json.artifacts.salesforce_control_description }}', ''),\n  NULLIF('{{ $json.artifacts.client_follow_up_email }}', ''),\n  NULLIF('{{ $json.artifacts.exec_recap_forwardable }}', ''),\n  NULLIF('{{ $json.artifacts.internal_message_pricing }}', ''),\n  NULLIF('{{ $json.artifacts.meeting_prep }}', ''),\n  NULLIF('{{ $json.artifacts.assumptions }}', ''),\n  NULLIF('{{ $json.artifacts.exclusions }}', ''),\n  false\n)\nRETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        64
      ],
      "name": "Save Artifacts",
      "credentials": {
        "postgres": {
          "id": "ZMNqF3gUEXvNCjht",
          "name": "ECHO PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO p2v2c2_evidence (\n  deal_id, pain_score, pain_evidence, power_score, power_evidence,\n  vision_score, vision_evidence, value_score, value_evidence,\n  change_score, change_evidence, control_score, control_evidence,\n  p2v2c2_total\n) VALUES (\n  (SELECT id FROM deals WHERE deal_slug = '{{ $json.deal.deal_slug }}'),\n  {{ $json.p2v2c2.pain_score || 0 }},\n  {{ $json.p2v2c2.pain_evidence ? \"'\" + $json.p2v2c2.pain_evidence.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.p2v2c2.power_score || 0 }},\n  {{ $json.p2v2c2.power_evidence ? \"'\" + $json.p2v2c2.power_evidence.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.p2v2c2.vision_score || 0 }},\n  {{ $json.p2v2c2.vision_evidence ? \"'\" + $json.p2v2c2.vision_evidence.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.p2v2c2.value_score || 0 }},\n  {{ $json.p2v2c2.value_evidence ? \"'\" + $json.p2v2c2.value_evidence.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.p2v2c2.change_score || 0 }},\n  {{ $json.p2v2c2.change_evidence ? \"'\" + $json.p2v2c2.change_evidence.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.p2v2c2.control_score || 0 }},\n  {{ $json.p2v2c2.control_evidence ? \"'\" + $json.p2v2c2.control_evidence.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.p2v2c2.total || 0 }}\n)\nRETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1264,
        64
      ],
      "name": "Save P2V2C2 Evidence",
      "credentials": {
        "postgres": {
          "id": "ZMNqF3gUEXvNCjht",
          "name": "ECHO PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO deal_history (\n  deal_id, event_type, event_source, event_date, summary,\n  link_or_ref, raw_content, cas_at_time, p2v2c2_total_at_time\n) VALUES (\n  (SELECT id FROM deals WHERE deal_slug = $1),\n  $2, $3, $4, $5, $6, $7, $8, $9\n)\nRETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1408,
        64
      ],
      "name": "Save History",
      "credentials": {
        "postgres": {
          "id": "ZMNqF3gUEXvNCjht",
          "name": "ECHO PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"deal_slug\": $('Assessment Engine (Agent 1)').item.json.deal_slug,\n  \"cas_current\": $('Assessment Engine (Agent 1)').item.json.state.cas_current,\n  \"p2v2c2_total\": $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.total,\n  \"artifacts_generated\": $('Artifact Engine (Agent 2)').item.json.orchestration.artifacts_generated,\n  \"message\": \"Deal processed successfully\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1552,
        -32
      ],
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "jsCode": "// Merge both trigger sources\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        160
      ],
      "name": "Merge Triggers"
    },
    {
      "parameters": {
        "sendTo": "austin.holland@clearwatersecurity.com",
        "subject": "Deal Path Artifacts Notification",
        "message": "=<h2>Deal Path Artifacts Generated</h2>\n\n<p><strong>Deal:</strong> {{ $('Assessment Engine (Agent 1)').item.json.deal_slug }}</p>\n<p><strong>Opportunity:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.opportunity_name }}</p>\n<p><strong>Date:</strong> {{ $('Input Classifier').item.json.date }}</p>\n<p><strong>Input Type:</strong> {{ $('Input Classifier').item.json.inputType }}</p>\n\n<h3>P2V2C2 Scores (Total: {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.total }}/30)</h3>\n<ul>\n  <li><strong>Pain:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.pain }}/5</li>\n  <li><strong>Power:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.power }}/5</li>\n  <li><strong>Vision:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.vision }}/5</li>\n  <li><strong>Value:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.value }}/5</li>\n  <li><strong>Change:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.change }}/5</li>\n  <li><strong>Control:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.control }}/5</li>\n</ul>\n\n<h3>CAS Stage</h3>\n<p><strong>Current:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.cas_current }}</p>\n<p><strong>Next:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.cas_next }}</p>\n\n<hr>\n\n<h3>Generated Artifacts</h3>\n\n<h4>Client Follow-Up Email</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.client_follow_up_email }}</pre>\n\n<h4>Salesforce DAP Block</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_block_1_dap }}</pre>\n\n<h4>Salesforce P2V2C2 Descriptions</h4>\n<p><strong>Pain:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_pain_description }}</p>\n<p><strong>Power:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_power_description }}</p>\n<p><strong>Vision:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_vision_description }}</p>\n<p><strong>Value:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_value_description }}</p>\n<p><strong>Change:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_change_description }}</p>\n<p><strong>Control:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_control_description }}</p>\n\n<h4>Executive Recap</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.exec_recap_forwardable }}</pre>\n\n<h4>Internal Message - Pricing</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.internal_message_pricing }}</pre>\n\n<hr>\n<p><em>Generated by Deal Path V2 - ECHO Portal</em></p>",
        "options": {
          "customHeaders": [
            {
              "name": "X-ECHO-Deal-Slug",
              "value": "={{ $json.deal_slug }}"
            },
            {
              "name": "X-ECHO-Opportunity-ID",
              "value": "={{ $json.salesforce_opportunity_id || \"\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1552,
        160
      ],
      "name": "Gmail - Send Artifacts Email",
      "webhookId": "d41f4808-1611-40bf-b933-cb7ec9b596ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "KcxcROH9oa3L7IUB",
          "name": "Gmail ECHO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-deal-found",
              "leftValue": "={{ $json._noDealsFound }}",
              "operator": {
                "type": "boolean",
                "operation": "notEquals",
                "singleValue": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        240
      ],
      "name": "Check Deal Exists"
    },
    {
      "parameters": {
        "jsCode": "// Initialize a new opportunity when deal doesn't exist\nconst input = $('Input Classifier').item.json;\n\nconst newDeal = {\n  json: {\n    kind: 'deal_record',\n    deal_slug: input.deal_slug,\n    salesforce_opportunity_id: null,\n    outputs_version: 'v2',\n    \n    updated_at: new Date().toISOString(),\n    \n    opportunity_name: '',\n    account_name: '',\n    cas_current: '1A: Discovery - Initial conversation',\n    cas_next: '1B: Discovery - Problem validation',\n    cas_confidence: 'low',\n    \n    pain_score: 0,\n    power_score: 0,\n    vision_score: 0,\n    value_score: 0,\n    change_score: 0,\n    control_score: 0\n  }\n};\n\nreturn [newDeal];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        224
      ],
      "name": "Create New Opportunity",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Merge deal context from either existing deal or new opportunity\nconst items = $input.all();\n\n// Should receive exactly one item from either path\nif (!items || items.length === 0) {\n  throw new Error('No deal context received');\n}\n\nif (items.length > 1) {\n  console.log('Multiple items received, using first one');\n}\n\nconst dealContext = items[0];\n\n// Ensure we have valid json\nif (!dealContext || !dealContext.json) {\n  throw new Error('Invalid deal context - missing json data');\n}\n\n// Determine context source - check if salesforce_opportunity_id exists and is not null/empty\nconst isExisting = dealContext.json.salesforce_opportunity_id && \n                   dealContext.json.salesforce_opportunity_id !== null && \n                   dealContext.json.salesforce_opportunity_id !== '';\n\n// Ensure we have the expected structure\nreturn [{\n  json: {\n    ...dealContext.json,\n    _contextSource: isExisting ? 'existing_deal' : 'new_opportunity'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        80
      ],
      "name": "Merge Deal Context"
    }
  ],
  "connections": {
    "Webhook - MCP Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger - Deal Inputs": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Input Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Classifier": {
      "main": [
        [
          {
            "node": "Load Deal Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Deal Memory": {
      "main": [
        [
          {
            "node": "Validate Deal Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal Memory": {
      "main": [
        [
          {
            "node": "Check Deal Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Engine (Agent 1)": {
      "main": [
        [
          {
            "node": "Artifact Engine (Agent 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash (Assessment)": {
      "ai_languageModel": [
        [
          {
            "node": "Assessment Engine (Agent 1)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Assessment)": {
      "ai_outputParser": [
        [
          {
            "node": "Assessment Engine (Agent 1)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Artifact Engine (Agent 2)": {
      "main": [
        [
          {
            "node": "Format for PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash (Artifact)": {
      "ai_languageModel": [
        [
          {
            "node": "Artifact Engine (Agent 2)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Artifact)": {
      "ai_outputParser": [
        [
          {
            "node": "Artifact Engine (Agent 2)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format for PostgreSQL": {
      "main": [
        [
          {
            "node": "Check if New Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if New Deal": {
      "main": [
        [
          {
            "node": "Insert New Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Existing Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Deal": {
      "main": [
        [
          {
            "node": "Save Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Deal": {
      "main": [
        [
          {
            "node": "Save Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Artifacts": {
      "main": [
        [
          {
            "node": "Save P2V2C2 Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save P2V2C2 Evidence": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Send Artifacts Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deal Exists": {
      "main": [
        [
          {
            "node": "Merge Deal Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Opportunity": {
      "main": [
        [
          {
            "node": "Merge Deal Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Deal Context": {
      "main": [
        [
          {
            "node": "Assessment Engine (Agent 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "binaryMode": "separate",
    "timeSavedMode": "fixed"
  },
  "tags": [],
  "active": false
}