ECHOv3.json
{
  "id": "agVMHTg1u4WYVPGb",
  "name": "ECHOv3 - Fixed Deal Memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dealpath/process",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -896,
        64
      ],
      "name": "Webhook - MCP Trigger",
      "webhookId": "dealpath-process"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "austin.holland@clearwatersecurity.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        256
      ],
      "name": "Gmail Trigger - Deal Inputs",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Classify input type and extract content\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Check if input is from webhook (MCP) or Gmail\n  const isWebhook = item.json.body !== undefined;\n  \n  let content, subject, inputType, dealSlug, salesforceOpportunityId, date, sourceFilename;\n  \n  if (isWebhook) {\n    // MCP/Webhook input\n    const body = item.json.body;\n    content = body.content || '';\n    inputType = body.input_type || 'call_transcript';\n    dealSlug = body.deal_slug || `deal-${new Date().toISOString().split('T')[0]}`;\n    salesforceOpportunityId = body.salesforce_opportunity_id || null;\n    date = body.date || new Date().toISOString().split('T')[0];\n    sourceFilename = body.source_filename || 'mcp-input';\n  } else {\n    // Gmail input\n    subject = item.json.subject || '';\n    const text = item.json.text || item.json.textPlain || '';\n    content = text;\n    \n    // Determine input type\n    inputType = 'email';\n    if (subject.toLowerCase().includes('transcript') || text.includes('Speaker:')) {\n      inputType = 'call_transcript';\n    } else if (subject.toLowerCase().includes('teams')) {\n      inputType = 'teams_message';\n    }\n    \n    // Extract deal slug from subject or generate\n    dealSlug = subject\n      .toLowerCase()\n      .replace(/[^a-z0-9\\s-]/g, '')\n      .replace(/\\s+/g, '-')\n      .substring(0, 50);\n    \n    if (!dealSlug) {\n      dealSlug = `deal-${new Date().toISOString().split('T')[0]}`;\n    }\n    \n    salesforceOpportunityId = null; // Gmail doesn't provide SF ID\n    date = new Date().toISOString().split('T')[0];\n    sourceFilename = subject;\n  }\n  \n  results.push({\n    json: {\n      inputType,\n      dealSlug,\n      salesforceOpportunityId,\n      content,\n      date,\n      sourceFilename,\n      source: isWebhook ? 'mcp' : 'gmail'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        160
      ],
      "name": "Input Classifier"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I89tGONJn1tPY4LMZ63pMoXWm9F8p6Tn89_LEskQucU",
          "mode": "list",
          "cachedResultName": "Deal Ledger"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "salesforce_opportunity_id",
              "lookupValue": "={{ $json.salesforceOpportunityId }}"
            },
            {
              "lookupColumn": "deal_slug",
              "lookupValue": "={{ $json.dealSlug }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -224,
        160
      ],
      "name": "Load Deal Memory",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Validate and deduplicate Load Deal Memory results\nconst items = $input.all();\n\n// Check if no results or error from Load Deal Memory\nif (!items || items.length === 0) {\n  console.log('No items received from Load Deal Memory');\n  return [];\n}\n\n// Filter out items with null or undefined json first\nconst itemsWithJson = items.filter(item => item && item.json !== null && item.json !== undefined);\n\nif (itemsWithJson.length === 0) {\n  console.log('No valid items with json data');\n  return [];\n}\n\n// Check if first item is an error or has no data\nif (itemsWithJson.length === 1) {\n  const firstItem = itemsWithJson[0];\n  if (firstItem.json.error || !firstItem.json.deal_slug) {\n    // No results found - return empty so If node can create new opportunity\n    console.log('No existing deal found in memory');\n    return [];\n  }\n  // Single valid result - perfect, return as-is\n  return itemsWithJson;\n}\n\n// Multiple matches found - prioritize by salesforce_opportunity_id, then most recent\nconsole.log(`WARNING: Found ${itemsWithJson.length} matching deals. Selecting most relevant.`);\n\n// Filter out any error items and ensure deal_slug exists\nconst validItems = itemsWithJson.filter(item => \n  item.json && \n  !item.json.error && \n  item.json.deal_slug\n);\n\nif (validItems.length === 0) {\n  console.log('No valid items after filtering');\n  return [];\n}\n\nif (validItems.length === 1) {\n  return validItems;\n}\n\n// Prefer entries with salesforce_opportunity_id\nconst withSalesforceId = validItems.filter(item => \n  item.json && \n  item.json.salesforce_opportunity_id\n);\n\nif (withSalesforceId.length > 0) {\n  // Return the one with most recent date_updated\n  const sorted = withSalesforceId.sort((a, b) => {\n    const dateA = new Date(a.json['meta.date_updated'] || 0);\n    const dateB = new Date(b.json['meta.date_updated'] || 0);\n    return dateB - dateA;\n  });\n  return [sorted[0]];\n}\n\n// No Salesforce ID found, return most recently updated\nconst sorted = validItems.sort((a, b) => {\n  const dateA = new Date(a.json['meta.date_updated'] || 0);\n  const dateB = new Date(b.json['meta.date_updated'] || 0);\n  return dateB - dateA;\n});\n\nreturn [sorted[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Validate Deal Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Input Classifier').item.json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Assessment Engine for Deal Path V2 using CPS Sales Methodology.\n\nYour task is to process the input and calculate OBJECTIVE deal health metrics.\n\n# CRITICAL REQUIREMENTS\n1. Use ONLY the P2V2C2 Objective Rubric - no subjective interpretation\n2. Follow CAS State Machine rules - cannot skip stages\n3. Document only VERIFIABLE facts from the input\n4. Same input + same history = same output (deterministic)\n\n# P2V2C2 SCORING RUBRIC\n\n## Pain (0-5)\n0 = No pain articulated\n1 = Generic pain mentioned (\"need to improve security\")\n2 = Specific pain with business impact (\"failed audit\")\n3 = Pain with urgency (\"must address before renewal\")\n4 = Pain with consequences (\"at risk of losing certification\")\n5 = Existential pain (\"regulatory action pending\", \"business at risk\")\n\n## Power (0-5)\n0 = No decision maker identified\n1 = Spoke with influencer only\n2 = Spoke with budget holder\n3 = Spoke with executive sponsor with budget authority\n4 = Spoke with C-level with strategic authority\n5 = Spoke with CEO/Board with full authority\n\n## Vision (0-5)\n0 = No future state discussed\n1 = Generic vision (\"want to be more secure\")\n2 = Specific outcomes defined (\"achieve SOC 2\")\n3 = Detailed roadmap with milestones\n4 = Vision aligned to business strategy with metrics\n5 = Co-created vision with documented approach\n\n## Value (0-5)\n0 = No value discussed\n1 = Generic value mentioned\n2 = Specific benefits identified\n3 = Quantified value (time/cost savings)\n4 = ROI calculated and agreed\n5 = Business case approved by leadership\n\n## Change (0-5)\n0 = No commitment to change\n1 = Exploring options\n2 = Acknowledged need to change\n3 = Committed to changing approach\n4 = Timeline and resources allocated\n5 = Active project with deadline pressure\n\n## Control (0-5)\n0 = No process defined\n1 = Exploratory conversation\n2 = Next steps discussed\n3 = Mutual action plan drafted\n4 = DAP agreed with client\n5 = DAP being executed on schedule\n\n# CAS STATE MACHINE\n\n1A: Discovery - Initial conversation\n1B: Discovery - Problem validation\n2A: Qualify - Champion identified\n2B: Qualify - Set expectations for proposal\n3A: Prove - Approach co-created\n3B: Prove - Validation meeting held\n4A: Negotiate - Proposal delivered\n4B: Negotiate - Contract review\n5A: Close - Legal approval\n5B: Close - Contract signed (5VO)\n\n# CLIENT ROLES\n\n- Champion (C): Internal advocate, no budget authority\n- Power/Economic Sponsor (PES): Budget holder, decision authority\n- Executive Sponsor (ES): Strategic alignment, C-level\n- Decision Maker (DM): Final approver (often = ES or PES)\n\n# CURRENT DEAL CONTEXT\n\nDeal Slug: {{ $('Input Classifier').item.json.dealSlug }}\nInput Type: {{ $('Input Classifier').item.json.inputType }}\nDate: {{ $('Input Classifier').item.json.date }}\n\nPrevious Context:\n{{ $('Merge Deal Context').item.json ? JSON.stringify($('Merge Deal Context').item.json, null, 2) : 'No previous history - this is first interaction' }}\n\nContext Source: {{ $('Merge Deal Context').item.json._contextSource || 'unknown' }}\n\nSalesforce Opportunity ID: {{ $('Merge Deal Context').item.json.salesforce_opportunity_id || $('Input Classifier').item.json.salesforceOpportunityId || 'Not yet assigned' }}\n**IMPORTANT:** If previous context contains a salesforce_opportunity_id, preserve it in your output.\n\n# OUTPUT STRUCTURE\n\nReturn JSON with this exact structure:\n\n{\n  \"deal_slug\": \"{{ $('Input Classifier').item.json.dealSlug }}\",\n  \"salesforce_opportunity_id\": null | \"006ABC...\",\n  \"input_type\": \"{{ $('Input Classifier').item.json.inputType }}\",\n  \"date\": \"{{ $('Input Classifier').item.json.date }}\",\n  \"participants\": [\"Name1\", \"Name2\"],\n  \n  \"state\": {\n    \"opportunity_name\": \"Client Name - Project\",\n    \"account_name\": \"Client Name\",\n    \"cas_current\": \"2B: Qualify - Set expectations\",\n    \"cas_next\": \"3A: Prove - Co-create approach\",\n    \"cas_confidence\": \"high\" | \"medium\" | \"low\",\n    \"p2v2c2\": {\n      \"pain\": 0-5,\n      \"power\": 0-5,\n      \"vision\": 0-5,\n      \"value\": 0-5,\n      \"change\": 0-5,\n      \"control\": 0-5,\n      \"total\": sum\n    },\n    \"tcv_model\": {\n      \"base_tcv\": 0,\n      \"expansion_tcv\": 0,\n      \"renewal_tcv\": 0\n    }\n  },\n  \n  \"diagnostics\": {\n    \"deal_health\": {\n      \"top_3_strengths\": [\"Strength 1\", \"Strength 2\", \"Strength 3\"],\n      \"top_3_risks\": [\"Risk 1\", \"Risk 2\", \"Risk 3\"],\n      \"unknowns_blocking_progress\": [\"Unknown 1\", \"Unknown 2\"]\n    },\n    \"delta_summary\": \"What changed since last interaction\"\n  },\n  \n  \"evidence\": {\n    \"pain\": \"Direct quote or evidence\",\n    \"power\": \"Name, title, authority confirmation\",\n    \"vision\": \"Future state details\",\n    \"value\": \"Value statements\",\n    \"change\": \"Commitment to change\",\n    \"control\": \"DAP status\"\n  },\n  \n  \"highlights\": [\n    \"Strategic insight 1\",\n    \"Strategic insight 2\",\n    \"Strategic insight 3\"\n  ]\n}\n\n# SCORING RULES\n\n- Apply rubric WITH strategic context\n- Think like experienced sales professional\n- Interpret what language/urgency signals mean strategically\n- Evidence should include quotes AND strategic implications\n- If unsure between scores, choose lower (conservative)\n\nReturn ONLY the JSON object, no additional text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        160
      ],
      "name": "Assessment Engine (Agent 1)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        384
      ],
      "name": "Gemini 2.0 Flash (Assessment)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "={\n  \"deal_slug\": \"partnership-healthplan\",\n  \"input_type\": \"call_transcript\",\n  \"date\": \"2025-01-15\",\n  \"participants\": [\"Austin Holland\", \"Client Contact\"],\n  \"state\": {\n    \"opportunity_name\": \"Partnership HealthPlan - Add-on\",\n    \"account_name\": \"Partnership HealthPlan\",\n    \"cas_current\": \"2B: Qualify - Set expectations\",\n    \"cas_next\": \"3A: Prove - Co-create approach\",\n    \"cas_confidence\": \"high\",\n    \"p2v2c2\": {\n      \"pain\": 3,\n      \"power\": 3,\n      \"vision\": 2,\n      \"value\": 2,\n      \"change\": 3,\n      \"control\": 2,\n      \"total\": 15\n    },\n    \"tcv_model\": {\n      \"base_tcv\": 50000,\n      \"expansion_tcv\": 25000,\n      \"renewal_tcv\": 0\n    }\n  },\n  \"diagnostics\": {\n    \"deal_health\": {\n      \"top_3_strengths\": [\"Strong executive sponsor identified\", \"Clear pain with urgency\", \"Budget allocated\"],\n      \"top_3_risks\": [\"No technical validation yet\", \"Competing priorities\", \"Timeline compressed\"],\n      \"unknowns_blocking_progress\": [\"Final decision maker not confirmed\", \"Legal review timeline\"]\n    },\n    \"delta_summary\": \"Progressed from discovery to qualification. Executive sponsor engaged and budget confirmed.\"\n  },\n  \"evidence\": {\n    \"pain\": \"Client stated: 'We failed our SOC 2 audit and need to remediate before Q2 renewal'\",\n    \"power\": \"Met with VP of IT (budget holder) and CISO (executive sponsor)\",\n    \"vision\": \"Client wants to achieve SOC 2 compliance and improve security posture\",\n    \"value\": \"Estimated $200K in avoided audit costs and faster compliance timeline\",\n    \"change\": \"Client committed to starting project in Q1 with dedicated resources\",\n    \"control\": \"Next steps agreed: technical validation call scheduled for next week\"\n  },\n  \"highlights\": [\n    \"Executive sponsor highly engaged and championing internally\",\n    \"Clear business case with quantified ROI\",\n    \"Competitive displacement opportunity identified\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        384
      ],
      "name": "Structured Output Parser (Assessment)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Artifact Engine for Deal Path V2.\n\nYour task is to generate ALL required outputs to progress the deal from current CAS to 5VO.\n\n# ASSESSMENT CONTEXT\n\n{{ JSON.stringify($('Assessment Engine (Agent 1)').item.json, null, 2) }}\n\n# CAS-TO-ARTIFACT MAPPING\n\nGenerate artifacts based on current CAS:\n\n**CAS 1A/1B (Discovery):**\n- Call summary\n- Internal message\n\n**CAS 2A/2B (Qualify):**\n- Call summary\n- Salesforce DAP block\n- Salesforce P2V2C2 block\n- Client follow-up email\n- Internal scoping message\n\n**CAS 3A/3B (Prove):**\n- All CAS 2 artifacts +\n- Approach document prep\n- Validation meeting prep\n\n**CAS 4A/4B (Negotiate):**\n- MSA/SOW review\n- Redline analysis\n\n**CAS 5A/5B (Close):**\n- Contract review\n- Kickoff prep\n\n# OUTPUT FORMATTING RULES\n\n## Client Follow-Up Email\n- Address client participants only\n- 5-7 paragraphs, 150-200 words\n- Structure: Greeting → Appreciation → \"Next steps:\" → Bullets → Closing\n- Professional, specific, consultative tone\n- NO random bolding\n\n## Salesforce DAP Block\n- Timeline with dates and statuses [COMPLETED], [IN PROGRESS]>>, [PENDING]\n- Current State: ORGANIZATION / ACTIVITIES / TECHNOLOGY\n- Future State: ORGANIZATION / ACTIVITIES / TECHNOLOGY\n- Risks (max 200 chars)\n- Next Step (max 100 chars)\n\n## Salesforce P2V2C2 Block\n- Pain (X/5): Evidence\n- Power (X/5): Evidence\n- Vision (X/5): Evidence\n- Value (X/5): Evidence\n- Change (X/5): Evidence\n- Control (X/5): Evidence\n\n## Internal Message\n- Actionable request to specific team member\n- Format: \"Hey [Name], had a [type] call with [Client]. [Summary]. Can you help with [specific request]?\"\n- Include all technical specs needed\n\n# OUTPUT STRUCTURE\n\nReturn JSON:\n\n{\n  \"artifacts\": {\n    \"salesforce_block_1_dap\": \"Full DAP timeline + current/future state + risks + next step\",\n    \"salesforce_pain_description\": \"Pain evidence from assessment\",\n    \"salesforce_power_description\": \"Power evidence\",\n    \"salesforce_vision_description\": \"Vision evidence\",\n    \"salesforce_value_description\": \"Value evidence\",\n    \"salesforce_change_description\": \"Change evidence\",\n    \"salesforce_control_description\": \"Control evidence\",\n    \"client_follow_up_email\": \"Full email body (no subject)\",\n    \"exec_recap_forwardable\": \"Executive summary\",\n    \"internal_message_pricing\": \"Internal team message\",\n    \"meeting_prep\": \"Next meeting prep materials\",\n    \"assumptions\": \"Key assumptions made\",\n    \"exclusions\": \"What's explicitly out of scope\"\n  },\n  \"plan\": {\n    \"action_plan\": [\n      {\"date\": \"YYYY-MM-DD\", \"owner\": \"Name\", \"action\": \"Description\", \"status\": \"pending|in_progress|done\"}\n    ],\n    \"internal_asks\": [\n      \"Ask 1 (who needs to do what)\",\n      \"Ask 2\"\n    ],\n    \"win_plays\": [\n      \"Play 1: Strategy to advance deal\",\n      \"Play 2\"\n    ]\n  },\n  \"orchestration\": {\n    \"artifacts_generated\": [\"list of artifact keys created\"],\n    \"artifacts_skipped\": [\"list of artifacts not needed for this CAS\"]\n  }\n}\n\nReturn ONLY the JSON object, no additional text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        160
      ],
      "name": "Artifact Engine (Agent 2)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        384
      ],
      "name": "Gemini 2.0 Flash (Artifact)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "={\n  \"artifacts\": {\n    \"salesforce_block_1_dap\": \"Full DAP timeline + current/future state + risks + next step\",\n    \"salesforce_pain_description\": \"Pain evidence from assessment\",\n    \"salesforce_power_description\": \"Power evidence\",\n    \"salesforce_vision_description\": \"Vision evidence\",\n    \"salesforce_value_description\": \"Value evidence\",\n    \"salesforce_change_description\": \"Change evidence\",\n    \"salesforce_control_description\": \"Control evidence\",\n    \"client_follow_up_email\": \"Full email body (no subject)\",\n    \"exec_recap_forwardable\": \"Executive summary\",\n    \"internal_message_pricing\": \"Internal team message\",\n    \"meeting_prep\": \"Next meeting prep materials\",\n    \"assumptions\": \"Key assumptions made\",\n    \"exclusions\": \"What's explicitly out of scope\"\n  },\n  \"plan\": {\n    \"action_plan\": [\n      {\"date\": \"2026-01-01\", \"owner\": \"Austin\", \"action\": \"Send proposal\", \"status\": \"pending\"}\n    ],\n    \"internal_asks\": [\n      \"Ask 1 (who needs to do what)\",\n      \"Ask 2\"\n    ],\n    \"win_plays\": [\n      \"Play 1: Strategy to advance deal\",\n      \"Play 2\"\n    ]\n  },\n  \"orchestration\": {\n    \"artifacts_generated\": [\"list of artifact keys created\"],\n    \"artifacts_skipped\": [\"list of artifacts not needed for this CAS\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        384
      ],
      "name": "Structured Output Parser (Artifact)"
    },
    {
      "parameters": {
        "jsCode": "// Merge Assessment + Artifacts into flat Google Sheets row format\nconst assessment = $('Assessment Engine (Agent 1)').item.json;\nconst artifacts = $('Artifact Engine (Agent 2)').item.json;\nconst input = $('Input Classifier').item.json;\nconst dealContext = $('Merge Deal Context').item.json;\n\n// Ensure we have all required data\nif (!assessment || !artifacts || !input) {\n  throw new Error('Missing required data from previous nodes');\n}\n\n// Build flat row matching your schema\nconst row = {\n  kind: 'deal_record',\n  deal_slug: assessment.deal_slug || input.dealSlug || '',\n  salesforce_opportunity_id: assessment.salesforce_opportunity_id || dealContext?.salesforce_opportunity_id || input.salesforceOpportunityId || '',\n  outputs_v: 'v2',\n  \n  // Meta\n  'meta.date_updated': new Date().toISOString(),\n  'meta.updated_by': 'dealpath-agent',\n  'meta.source_systems': input.source === 'mcp' ? 'mcp,gemini' : 'gmail,gemini',\n  'meta.input_event.event_id': input.id || '',\n  'meta.input_event.event_ts': input.date || '',\n  'meta.input_event.event_type': input.inputType || '',\n  'meta.input_event.source': input.source || '',\n  'meta.input_event.raw_excerpt_or_link': input.sourceFilename || '',\n  \n  // State\n  'state.opportunity_name': assessment.state?.opportunity_name || '',\n  'state.account_name': assessment.state?.account_name || '',\n  'state.stage': assessment.state?.cas_current?.split(':')[0]?.trim() || '',\n  'state.cas_current': assessment.state?.cas_current || '',\n  'state.cas_next': assessment.state?.cas_next || '',\n  'state.cas_confidence': assessment.state?.cas_confidence || '',\n  'state.close_date': assessment.state?.close_date || '',\n  'state.amount': assessment.state?.amount || 0,\n  'state.tcv_model.base_tcv': assessment.state?.tcv_model?.base_tcv || 0,\n  'state.tcv_model.expansion_tcv': assessment.state?.tcv_model?.expansion_tcv || 0,\n  'state.tcv_model.renewal_tcv': assessment.state?.tcv_model?.renewal_tcv || 0,\n  'state.tcv_model.attach_options': '',\n  \n  // P2V2C2\n  'state.p2v2c2.pain': assessment.state?.p2v2c2?.pain || 0,\n  'state.p2v2c2.power': assessment.state?.p2v2c2?.power || 0,\n  'state.p2v2c2.vision': assessment.state?.p2v2c2?.vision || 0,\n  'state.p2v2c2.value': assessment.state?.p2v2c2?.value || 0,\n  'state.p2v2c2.change': assessment.state?.p2v2c2?.change || 0,\n  'state.p2v2c2.control': assessment.state?.p2v2c2?.control || 0,\n  'state.p2v2c2.total': assessment.state?.p2v2c2?.total || 0,\n  'state.p2v2c2.trend_7d': '',\n  \n  // Diagnostics\n  'diagnostics.delta_summary': assessment.diagnostics?.delta_summary || '',\n  'diagnostics.deal_health.top_3_strengths': JSON.stringify(assessment.diagnostics?.deal_health?.top_3_strengths || []),\n  'diagnostics.deal_health.top_3_risks': JSON.stringify(assessment.diagnostics?.deal_health?.top_3_risks || []),\n  'diagnostics.deal_health.unknowns_blocking_progress': JSON.stringify(assessment.diagnostics?.deal_health?.unknowns_blocking_progress || []),\n  'diagnostics.procurement_legal.msa_status': '',\n  'diagnostics.procurement_legal.sow_status': '',\n  \n  // Plan\n  'plan.action_plan': JSON.stringify(artifacts.plan?.action_plan || []),\n  'plan.internal_asks': JSON.stringify(artifacts.plan?.internal_asks || []),\n  'plan.win_plays': JSON.stringify(artifacts.plan?.win_plays || []),\n  \n  // Artifacts\n  'artifacts.salesforce_block_1_dap': artifacts.artifacts?.salesforce_block_1_dap || '',\n  'artifacts.salesforce_pain_description': artifacts.artifacts?.salesforce_pain_description || assessment.evidence?.pain || '',\n  'artifacts.salesforce_power_description': artifacts.artifacts?.salesforce_power_description || assessment.evidence?.power || '',\n  'artifacts.salesforce_vision_description': artifacts.artifacts?.salesforce_vision_description || assessment.evidence?.vision || '',\n  'artifacts.salesforce_value_description': artifacts.artifacts?.salesforce_value_description || assessment.evidence?.value || '',\n  'artifacts.salesforce_change_description': artifacts.artifacts?.salesforce_change_description || assessment.evidence?.change || '',\n  'artifacts.salesforce_control_description': artifacts.artifacts?.salesforce_control_description || assessment.evidence?.control || '',\n  'artifacts.client_follow_up_email': artifacts.artifacts?.client_follow_up_email || '',\n  'artifacts.exec_recap_forwardable': artifacts.artifacts?.exec_recap_forwardable || '',\n  'artifacts.internal_message_pricing': artifacts.artifacts?.internal_message_pricing || '',\n  'artifacts.meeting_prep': artifacts.artifacts?.meeting_prep || '',\n  'artifacts.internal_meeting_agenda': '',\n  'artifacts.competitive_displacement_plan': '',\n  'artifacts.pricing_options': '',\n  'artifacts.assumptions': artifacts.artifacts?.assumptions || '',\n  'artifacts.exclusions': artifacts.artifacts?.exclusions || '',\n  \n  // History\n  'history.updates_append_only[0].ts': new Date().toISOString(),\n  'history.updates_append_only[0].summary': `Processed ${input.inputType} - CAS: ${assessment.state?.cas_current || 'N/A'}`,\n  'history.updates_append_only[0].link_or_ref': input.sourceFilename || ''\n};\n\nreturn [{ json: row }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        160
      ],
      "name": "Format for Google Sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-new-opp-id",
              "leftValue": "={{ $('Merge Deal Context').item.json._contextSource }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": "new_opportunity"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1376,
        160
      ],
      "name": "Check if New Deal"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I89tGONJn1tPY4LMZ63pMoXWm9F8p6Tn89_LEskQucU",
          "mode": "list",
          "cachedResultName": "Deal Ledger"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        64
      ],
      "name": "Append New Deal"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I89tGONJn1tPY4LMZ63pMoXWm9F8p6Tn89_LEskQucU",
          "mode": "list",
          "cachedResultName": "Deal Ledger"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "deal_slug"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        256
      ],
      "name": "Update Existing Deal"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"deal_slug\": $('Assessment Engine (Agent 1)').item.json.deal_slug,\n  \"cas_current\": $('Assessment Engine (Agent 1)').item.json.state.cas_current,\n  \"p2v2c2_total\": $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.total,\n  \"artifacts_generated\": $('Artifact Engine (Agent 2)').item.json.orchestration.artifacts_generated,\n  \"message\": \"Deal processed successfully\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        64
      ],
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "jsCode": "// Merge both trigger sources\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        160
      ],
      "name": "Merge Triggers"
    },
    {
      "parameters": {
        "sendTo": "austin.holland@clearwatersecurity.com",
        "subject": "Deal Path Artifacts Notification",
        "message": "=<h2>Deal Path Artifacts Generated</h2>\n\n<p><strong>Deal:</strong> {{ $('Assessment Engine (Agent 1)').item.json.deal_slug }}</p>\n<p><strong>Opportunity:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.opportunity_name }}</p>\n<p><strong>Date:</strong> {{ $('Input Classifier').item.json.date }}</p>\n<p><strong>Input Type:</strong> {{ $('Input Classifier').item.json.inputType }}</p>\n\n<h3>P2V2C2 Scores (Total: {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.total }}/30)</h3>\n<ul>\n  <li><strong>Pain:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.pain }}/5</li>\n  <li><strong>Power:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.power }}/5</li>\n  <li><strong>Vision:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.vision }}/5</li>\n  <li><strong>Value:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.value }}/5</li>\n  <li><strong>Change:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.change }}/5</li>\n  <li><strong>Control:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.p2v2c2.control }}/5</li>\n</ul>\n\n<h3>CAS Stage</h3>\n<p><strong>Current:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.cas_current }}</p>\n<p><strong>Next:</strong> {{ $('Assessment Engine (Agent 1)').item.json.state.cas_next }}</p>\n\n<hr>\n\n<h3>Generated Artifacts</h3>\n\n<h4>Client Follow-Up Email</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.client_follow_up_email }}</pre>\n\n<h4>Salesforce DAP Block</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_block_1_dap }}</pre>\n\n<h4>Salesforce P2V2C2 Descriptions</h4>\n<p><strong>Pain:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_pain_description }}</p>\n<p><strong>Power:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_power_description }}</p>\n<p><strong>Vision:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_vision_description }}</p>\n<p><strong>Value:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_value_description }}</p>\n<p><strong>Change:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_change_description }}</p>\n<p><strong>Control:</strong> {{ $('Artifact Engine (Agent 2)').item.json.artifacts.salesforce_control_description }}</p>\n\n<h4>Executive Recap</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.exec_recap_forwardable }}</pre>\n\n<h4>Internal Message - Pricing</h4>\n<pre style=\"background:#f5f5f5; padding:15px; border-radius:5px; white-space:pre-wrap;\">{{ $('Artifact Engine (Agent 2)').item.json.artifacts.internal_message_pricing }}</pre>\n\n<hr>\n<p><em>Generated by Deal Path V2 - ECHO Portal</em></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        256
      ],
      "name": "Gmail - Send Artifacts Email",
      "webhookId": "d41f4808-1611-40bf-b933-cb7ec9b596ad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5fd61999-6d6f-4e50-92f3-a5185be2c737",
              "leftValue": "={{ $('Validate Deal Memory').all().length }}",
              "operator": {
                "type": "number",
                "operation": "gt",
                "singleValue": 0
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        240
      ],
      "name": "Check Deal Exists"
    },
    {
      "parameters": {
        "jsCode": "// Initialize a new opportunity when deal doesn't exist\nconst input = $('Input Classifier').item.json;\n\nconst newDeal = {\n  json: {\n    kind: 'deal_record',\n    deal_slug: input.dealSlug,\n    salesforce_opportunity_id: null,\n    outputs_v: 'v2',\n    \n    'meta.date_updated': new Date().toISOString(),\n    'meta.updated_by': 'dealpath-agent',\n    'meta.source_systems': input.source === 'mcp' ? 'mcp,gemini' : 'gmail,gemini',\n    'meta.input_event.event_ts': input.date,\n    'meta.input_event.event_type': input.inputType,\n    'meta.input_event.source': input.source,\n    \n    'state.opportunity_name': '',\n    'state.account_name': '',\n    'state.cas_current': '1A: Discovery - Initial conversation',\n    'state.cas_next': '1B: Discovery - Problem validation',\n    'state.cas_confidence': 'low',\n    \n    'state.p2v2c2.pain': 0,\n    'state.p2v2c2.power': 0,\n    'state.p2v2c2.vision': 0,\n    'state.p2v2c2.value': 0,\n    'state.p2v2c2.change': 0,\n    'state.p2v2c2.control': 0,\n    'state.p2v2c2.total': 0\n  }\n};\n\nreturn [newDeal];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        320
      ],
      "name": "Create New Opportunity",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Merge deal context from either existing deal or new opportunity\nconst items = $input.all();\n\n// Should receive exactly one item from either path\nif (!items || items.length === 0) {\n  throw new Error('No deal context received');\n}\n\nif (items.length > 1) {\n  console.log('Multiple items received, using first one');\n}\n\nconst dealContext = items[0];\n\n// Ensure we have valid json\nif (!dealContext || !dealContext.json) {\n  throw new Error('Invalid deal context - missing json data');\n}\n\n// Determine context source - check if salesforce_opportunity_id exists and is not null/empty\nconst isExisting = dealContext.json.salesforce_opportunity_id && \n                   dealContext.json.salesforce_opportunity_id !== null && \n                   dealContext.json.salesforce_opportunity_id !== '';\n\n// Ensure we have the expected structure\nreturn [{\n  json: {\n    ...dealContext.json,\n    _contextSource: isExisting ? 'existing_deal' : 'new_opportunity'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        176
      ],
      "name": "Merge Deal Context"
    }
  ],
  "connections": {
    "Webhook - MCP Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger - Deal Inputs": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Input Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Classifier": {
      "main": [
        [
          {
            "node": "Load Deal Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Deal Memory": {
      "main": [
        [
          {
            "node": "Validate Deal Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Engine (Agent 1)": {
      "main": [
        [
          {
            "node": "Artifact Engine (Agent 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash (Assessment)": {
      "ai_languageModel": [
        [
          {
            "node": "Assessment Engine (Agent 1)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Assessment)": {
      "ai_outputParser": [
        [
          {
            "node": "Assessment Engine (Agent 1)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Artifact Engine (Agent 2)": {
      "main": [
        [
          {
            "node": "Format for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash (Artifact)": {
      "ai_languageModel": [
        [
          {
            "node": "Artifact Engine (Agent 2)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Artifact)": {
      "ai_outputParser": [
        [
          {
            "node": "Artifact Engine (Agent 2)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format for Google Sheets": {
      "main": [
        [
          {
            "node": "Check if New Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if New Deal": {
      "main": [
        [
          {
            "node": "Append New Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Existing Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Deal": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Send Artifacts Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Deal": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Send Artifacts Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Opportunity": {
      "main": [
        [
          {
            "node": "Merge Deal Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Deal Context": {
      "main": [
        [
          {
            "node": "Assessment Engine (Agent 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "binaryMode": "separate"
  },
  "tags": [],
  "active": false,
  "projectId": "6EQ9DJsMozFcolmw",
  "projectName": "Personal",
  "homeProject": {
    "id": "6EQ9DJsMozFcolmw",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}